* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search > input {
    border-radius: 30px;
    border: none;
    padding: 12px 15px;
    flex: 1;
    margin-right: 20px;
}
.search > input:focus-visible {
    outline: none;
}
.search > button {
    cursor: pointer;
    border-radius: 100px;
    border: none;
    width: 45px;
    display: flex;
    justify-content: center;
}

#weather-icon {
    margin: 10px 10px 0;
    max-width: 150px;
}
#temp {
    font-size: 50px;
    font-weight: 500;
}

#city {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: -10px;
}
.search > button > img {
    width: 40px;
    padding: 10px;
}

.weather-data-container {
    display: flex;
    justify-content: space-between;
}

.weather-degree {
    font-weight: 500;
    font-size: 60px;
}

.weather-data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.weather-city {
    font-size: 30px;
    margin-top: -20px;
    margin-bottom: 40px;
}
.weather-data-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
}
.weather-data > img {
    width: 30px;
    margin-right: 10px;
    margin-top: 2px;
}
.weather-data-label {
    font-size: 11px;
}
